/*==================== VARIABLES CSS ====================*/
:root {
  --red-color: 0;
  --blue-color: 240;
  --green-color: 120;
  --orange-color: 30;
  --purple-color: 300;

  --saturation: 81%;

  --on: 53%;
  --off: 23%;
}

/*==================== BASE ====================*/
/*==================== CHRISTMAS LIGHTS ====================*/
