/*==================== VARIABLES CSS ====================*/
:root {
  --red-color: 0;
  --blue-color: 240;
  --green-color: 120;
  --orange-color: 30;
  --purple-color: 300;

  --saturation: 81%;

  --on: 53%;
  --off: 23%;
}

/*==================== BASE ====================*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #222;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/*==================== CHRISTMAS LIGHTS ====================*/
.bulb {
  fill: hsl(0, 0%, var(--on));
  animation: blink 1s ease-in-out infinite;
  -webkit-animation: blink 1s ease-in-out infinite;
}

.bulb:nth-of-type(5n+0) {
  fill: hsl(var(--red-color), var(--saturation), var(--on));
  color: hsl(var(--red-color), var(--saturation), var(--on));
}

.bulb:nth-of-type(5n+1) {
  fill: hsl(var(--blue-color), var(--saturation), var(--on));
  color: hsl(var(--blue-color), var(--saturation), var(--on));
}

.bulb:nth-of-type(5n+2) {
  fill: hsl(var(--green-color), var(--saturation), var(--on));
  color: hsl(var(--green-color), var(--saturation), var(--on));
}

.bulb:nth-of-type(5n+3) {
  fill: hsl(var(--orange-color), var(--saturation), var(--on));
  color: hsl(var(--orange-color), var(--saturation), var(--on));
}

.bulb:nth-of-type(5n+4) {
  fill: hsl(var(--purple-color), var(--saturation), var(--on));
  color: hsl(var(--purple-color), var(--saturation), var(--on));
}

.bulb:nth-of-type(2n) {
  animation-delay: .5s;
}

@keyframes blink {
  from {
    opacity: 1;
    filter: drop-shadow(0 0 8px currentColor);
    -webkit-filter: drop-shadow(0 0 8px currentColor);
  }

  to {
    opacity: .5;
  }
}